--extra-index-url https://download.pytorch.org/whl/cpu
boto3==1.35.52
mysql-connector-python==9.1.0
torch==2.5.1+cpu
torchvision==0.20.1+cpu
easyocr==1.7.2
imageio-ffmpeg==0.5.1
pillow==10.4.0
opencv-python-headless==4.10.0.84
rapidfuzz==3.10.1
numpy>=2.0.0
